/* Color Scheme */
/* Background Color */
.main-background-color,
ul.nav-filter li a.active, ul.nav-filter li a:hover,
.primary-nav > ul.menu > li.mf-active-menu,
.numeric-navigation .page-numbers:hover,.numeric-navigation .page-numbers.current,
.project-nav-ajax .numeric-navigation .page-numbers.next:hover,.project-nav-ajax .numeric-navigation .page-numbers.next:focus,
.primary-mobile-nav .menu-item-button-link a,
.mf-btn,
.mf-btn:hover,.mf-btn:focus,.mf-btn:active,
.mf-heading-primary:after,
.mf-heading-primary:after,
.post-author .box-title:after,
.post-author .box-title:after,
.single-post .social-share li a:hover,
.mf-service-banner:before,
.single-portfolio .single-project-title:after,
.single-portfolio .single-project-title:after,
.error404 .site-content:before,
.comments-title:after,.comment-reply-title:after,
.comments-title:after,.comment-reply-title:after,
.comment-respond .form-submit .submit,
.comment-respond .form-submit .submit:hover,.comment-respond .form-submit .submit:focus,.comment-respond .form-submit .submit:active,
.widget_tag_cloud a:hover,
.service-sidebar .download .item-download:hover,
.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce a.button.disabled,.woocommerce button.button.disabled,.woocommerce input.button.disabled,.woocommerce a.button.alt.disabled,.woocommerce button.button.alt.disabled,.woocommerce input.button.alt.disabled,
.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce a.button.disabled:hover,.woocommerce button.button.disabled:hover,.woocommerce input.button.disabled:hover,.woocommerce a.button.alt.disabled:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce input.button.alt.disabled:hover,.woocommerce a.button:focus,.woocommerce button.button:focus,.woocommerce input.button:focus,.woocommerce a.button.alt:focus,.woocommerce button.button.alt:focus,.woocommerce input.button.alt:focus,.woocommerce a.button.disabled:focus,.woocommerce button.button.disabled:focus,.woocommerce input.button.disabled:focus,.woocommerce a.button.alt.disabled:focus,.woocommerce button.button.alt.disabled:focus,.woocommerce input.button.alt.disabled:focus,.woocommerce a.button:active,.woocommerce button.button:active,.woocommerce input.button:active,.woocommerce a.button.alt:active,.woocommerce button.button.alt:active,.woocommerce input.button.alt:active,.woocommerce a.button.disabled:active,.woocommerce button.button.disabled:active,.woocommerce input.button.disabled:active,.woocommerce a.button.alt.disabled:active,.woocommerce button.button.alt.disabled:active,.woocommerce input.button.alt.disabled:active,
.woocommerce .cross-sells h2:after,.woocommerce .up-sells h2:after,.woocommerce .cart_totals h2:after,.woocommerce .woocommerce-billing-fields h3:after,.woocommerce #order_review_heading:after,.woocommerce #ship-to-different-address:after,
.woocommerce .cross-sells h2:after,.woocommerce .up-sells h2:after,.woocommerce .cart_totals h2:after,.woocommerce .woocommerce-billing-fields h3:after,.woocommerce #order_review_heading:after,.woocommerce #ship-to-different-address:after,
.woocommerce div.product #reviews #review_form .comment-form .form-submit input.submit,
.woocommerce div.product #reviews #review_form .comment-form .form-submit input.submit:hover,.woocommerce div.product #reviews #review_form .comment-form .form-submit input.submit:focus,.woocommerce div.product #reviews #review_form .comment-form .form-submit input.submit:active,
.woocommerce ul.products li.product .woocommerce-loop-product__link .product-icon,
.woocommerce ul.products li.product .button:hover:after,
.woocommerce .widget_product_tag_cloud a:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:before,
.woocommerce nav.woocommerce-pagination ul .page-numbers:hover,.woocommerce nav.woocommerce-pagination ul .page-numbers.current,
.footer-widgets .widget-title:after,
.footer-widgets .widget-title:after,
.footer-widgets ul li:hover:before,
.footer-social a:hover,
.owl-nav div:hover,
.owl-dots .owl-dot.active span,.owl-dots .owl-dot:hover span,
.induscity-office-location-widget .office-switcher,
.induscity-office-location-widget .office-switcher ul,
.mf-section-title h2:after,
.mf-icon-box.icon_style-has-background-color:hover .mf-icon,
.mf-services-2 .mf-icon,
.mf-services-2.style-2 .service-title:before,
.mf-portfolio ul.nav-filter.dark li a.active, .mf-portfolio ul.nav-filter.dark li a:hover,
.mf-portfolio.style-2 .owl-nav div:hover,
.mf-portfolio .owl-nav div:hover,
.mf-testimonial.style-1 .desc,
.mf-testimonial.style-2 .testimonial-info:hover .desc,
.mf-pricing .pricing-content a:hover,
.mf-history .date:before,
.mf-contact-box .contact-social li:hover a,
.wpcf7-form input[type="submit"],
.wpcf7-form input[type="submit"]:hover,.wpcf7-form input[type="submit"]:focus,.wpcf7-form input[type="submit"]:active,
.mf-list li:before,
.vc_progress_bar.vc_progress-bar-color-custom .vc_single_bar .vc_bar,
.induscity-arrow:hover,
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus,
.mf-team .team-member ul li
{background-color: #ee6012}

/* Color */
blockquote cite,
blockquote cite span,
.main-color,
.header-transparent.header-v2 .site-extra-text .induscity-social-links-widget a:hover,
.site-extra-text .header-contact i,
.site-extra-text .induscity-social-links-widget a:hover,
.main-nav ul.menu > li.current-menu-item > a,.main-nav ul.menu > li.current-menu-parent > a,.main-nav ul.menu > li.current-menu-ancestor > a,.main-nav ul.menu > li:hover > a,
.main-nav div.menu > ul > li.current_page_item > a,.main-nav div.menu > ul > li:hover > a,
.header-v3 .main-nav ul.menu > li.current-menu-item > a,.header-v3 .main-nav ul.menu > li.current-menu-parent > a,.header-v3 .main-nav ul.menu > li.current-menu-ancestor > a,.header-v3 .main-nav ul.menu > li:hover > a,
.header-v4 .main-nav ul.menu > li.current-menu-item > a,.header-v4 .main-nav ul.menu > li.current-menu-parent > a,.header-v4 .main-nav ul.menu > li.current-menu-ancestor > a,.header-v4 .main-nav ul.menu > li:hover > a,
.post-navigation a:hover,
.portfolio-navigation .nav-previous a:hover,.portfolio-navigation .nav-next a:hover,
.project-nav-ajax .numeric-navigation .page-numbers.next,
.project-nav-ajax .numeric-navigation .page-numbers.next span,
.primary-mobile-nav ul.menu li.current-menu-item > a,
.entry-meta a:hover,
.entry-title:hover a,
.entry-footer .read-more:hover,
.entry-footer .read-more:hover i,
.blog-wrapper.sticky .entry-title:before,
.service-inner:hover .service-title a,
.single-portfolio .project-socials a:hover,
.portfolio-metas i,
.comment .comment-reply-link:hover,
.widget_recent_comments li:hover > a,.widget_rss li:hover > a,
.widget_categories li:hover,.widget_recent_comments li:hover,.widget_rss li:hover,.widget_pages li:hover,.widget_archive li:hover,.widget_nav_menu li:hover,.widget_recent_entries li:hover,.widget_meta li:hover,.widget-recent-comments li:hover,.courses-categories-widget li:hover,
.widget_categories li:hover > a,.widget_recent_comments li:hover > a,.widget_rss li:hover > a,.widget_pages li:hover > a,.widget_archive li:hover > a,.widget_nav_menu li:hover > a,.widget_recent_entries li:hover > a,.widget_meta li:hover > a,.widget-recent-comments li:hover > a,.courses-categories-widget li:hover > a,
.popular-posts-widget .mini-widget-title h4:hover a,
.widget-about a:hover,
.service-sidebar .services-menu-widget li:hover a,.service-sidebar .services-menu-widget li.current-menu-item a,
.service-sidebar .mf-team-contact i,
.woocommerce .quantity .increase:hover,.woocommerce .quantity .decrease:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce ul.products li.product .button:hover,
.woocommerce ul.products li.product .added_to_cart:hover,
.woocommerce table.shop_table td.product-subtotal,
.woocommerce .widget_product_categories li:hover,
.woocommerce .widget_product_categories li:hover > a,
.woocommerce .widget_top_rated_products ul.product_list_widget li a:hover,
.woocommerce .widget_recent_reviews ul.product_list_widget li a:hover,
.woocommerce .widget_products ul.product_list_widget li a:hover,
.woocommerce .widget_recently_viewed_products ul.product_list_widget li a:hover,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal,
.woocommerce-checkout .woocommerce-info a,
.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover a,.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
.site-footer .footer-copyright a,
.footer-widgets ul li:hover > a,
.footer-widgets .footer-widget-contact .detail i,
.page-header.has-image h1,
.page-header.has-image .breadcrumbs,
.topbar .induscity-social-links-widget a:hover,
.induscity-office-location-widget .topbar-office li i,
.mf-services-2 .service-summary > a:hover,
.mf-services-2 h4:hover a,
.mf-services-2.style-1 .btn-service-2:hover i,
.mf-services-2.style-3 .btn-service-2:hover i,
.mf-services-3.style-1 .vc_service-wrapper:hover i,
.mf-services-3.style-1 .vc_service-wrapper.featured-box i,
.mf-services-3.style-1 .on-hover .vc_service-wrapper.featured-box.active i,
.mf-portfolio.light-version .project-inner:hover .cat-portfolio,
.mf-portfolio.style-3 .project-title a:hover,
.mf-testimonial.style-3 .testimonial-avatar .testi-icon,
.mf-testimonial.style-3 .address,
.mf-testimonial.style-3 .owl-nav div:hover,
.mf-testimonial.style-4 .address,
.mf-counter .mf-icon,
.mf-counter .counter-content .counter,
.mf-contact-box .contact-info i,
.mf-department .department-info i,
.wpb-js-composer div .vc_tta.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-panel-title > a,
.wpb-js-composer div .vc_tta.vc_tta-accordion .vc_tta-panel:hover .vc_tta-panel-title > a,
.wpb-js-composer div .vc_tta.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-controls-icon.vc_tta-controls-icon-chevron:after,
.wpb-js-composer div .vc_tta.vc_tta-accordion .vc_tta-panel:hover .vc_tta-controls-icon.vc_tta-controls-icon-chevron:after,
.wpb-js-composer div .vc_tta-tabs-position-top.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a,
.wpb-js-composer div .vc_tta-tabs-position-top.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab:hover > a,
.induscity-arrow-2:hover .fa,
.primary-mobile-nav ul.menu li.current_page_parent > a,
.primary-mobile-nav ul.menu li.current-menu-item > a,
.primary-mobile-nav ul.menu li.current-menu-ancestor > a,
.primary-mobile-nav ul.menu li.current-menu-parent > a,
.primary-mobile-nav ul.menu li > a:hover
{color: #ee6012}

.woocommerce table.shop_table a.remove:hover
{color: #ee6012 !important;}

/* Border */
ul.nav-filter li a.active, ul.nav-filter li a:hover,
.numeric-navigation .page-numbers:hover,.numeric-navigation .page-numbers.current,
.project-nav-ajax .numeric-navigation .page-numbers.next:hover,.project-nav-ajax .numeric-navigation .page-numbers.next:focus,
.single-post .social-share li a:hover,
.widget_tag_cloud a:hover,
.woocommerce .widget_product_tag_cloud a:hover,
.woocommerce nav.woocommerce-pagination ul .page-numbers:hover,.woocommerce nav.woocommerce-pagination ul .page-numbers.current,
.footer-social a:hover,
.owl-nav div:hover,
.mf-portfolio ul.nav-filter.dark li a.active, .mf-portfolio ul.nav-filter.dark li a:hover,
.mf-testimonial.style-3 .owl-nav div:hover,
.mf-contact-box .contact-social li:hover a,
.owl-dots .owl-dot span,
.service-inner:before,
.project-inner:before,
.mf-testimonial.style-3 .testimonial-avatar .testi-icon,
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus
{border-color: #ee6012}

/* Border Bottom */
.mf-testimonial.style-1 .desc:before,
.mf-testimonial.style-2 .testimonial-info:hover .desc:before
{border-bottom-color: #ee6012}

/* Border Left */
.woocommerce-checkout .woocommerce-info,
.woocommerce .widget_product_categories ul,
.widget_categories ul, .widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget-recent-comments ul,
.courses-categories-widget ul
{border-left-color: #ee6012}


.cart .shop_cart_table .icon_holder,
.cart .shop_cart_table button,
.cart_table .payment_system a
{background:#ee6012;}

.cart .shop_cart_table .table-1 tr td span.color2,
.servdtlaccord .panel-default > .panel-heading.active-panel a,
.wellmdtl p,
.action-strip-1 h2,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
{color:#ee6012;}